<%= render "shared/errors", obj: @phone %>

<div class="row">
  <div class="well col-sm-8 col-sm-offset-2">
    <%= form_for [@phonable, @phone], html: { class: 'form-horizontal' } do |f| %>
      <div class="control-group">
        <div class="col-sm-4">
          <%= f.label :number, { class: 'control-label' } %>
        </div>
        <div class="col-sm-8">
          <%= f.telephone_field :number, { class: 'form-control', :autofocus => true } %>
        </div>
      </div>
      <div class="control-group">
        <div class="col-sm-4">
          <%= f.label :category, { class: 'control-label' } %>
        </div>
        <div class="col-sm-8">
          <%= f.collection_select :category, @phone_categories, :id, :name, { include_blank: true }, { class: 'form-control', data: { attribute: "value" } } %>
        </div>
      </div>
      <%= f.submit(@phone.new_record? ? "Create Phone Number":"Update Phone Number", class: "btn btn-success") %>
    <% end %>
  </div>
</div>
