<%= render "shared/errors", obj: @patient %>

<div class="row">
  <div class="well col-sm-8 col-sm-offset-2">
    <%= form_for @patient, html: { class: 'form-horizontal' } do |f| %>
      <div class="control-group">
        <div class="col-sm-4">
          <%= f.label :first_name, { class: 'control-label' } %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :first_name, { class: 'form-control', :autofocus => true } %>
        </div>
      </div>
      <div class="control-group">
        <div class="col-sm-4">
          <%= f.label :last_name, { class: 'control-label' } %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :last_name, { class: 'form-control' } %>
        </div>
      </div>
      <div class="control-group">
        <div class="col-sm-4">
          <%= f.label :middle_name, { class: 'control-label' } %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :middle_name, { class: 'form-control' } %>
        </div>
      </div>
      <div class="control-group">
        <div class="col-sm-4">
          <%= f.label :insurance_number, { class: 'control-label' } %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :insurance_number, { class: 'form-control' } %>
        </div>
      </div>
      <div class="control-group">
        <div class="col-sm-4">
          <%= f.label :complementary_insurance_number, { class: 'control-label' } %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :complementary_insurance_number, { class: 'form-control' } %>
        </div>
      </div>
      <%= f.submit(@patient.new_record? ? "Create Patient Profile":"Update Patient Profile", class: "btn btn-success") %>
    <% end %>
  </div>
</div>